<div class="container">
  <h1>HAVE A QUESTION? WE CAN HELP</h1>
  <hr>
  <div class="row">
    <section class="accordion-btn btn-active">
      <strong>Q1</strong>
      <p>What vehicles are covered?</p>
      <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
        <g id="add" class="add"><path     d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/></g>
            </svg>
        </section>
        <div class="answer active">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae eligendi animi at, est ratione, 
            quidem magnam similique voluptate nulla voluptates dolorum aliquid, 
            sint modi maiores porro aliquam quam iure nam quae quo repellendus exercitationem!
        </div>
    </div>
    <hr class>
    <div class="row">
        <section class="accordion-btn">
            <strong>Q2</strong>
            <p>What vehicles are covered?</p>
            <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
                <g id="add"><path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/></g>
            </svg>
        </section>
        <div class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae eligendi animi at, est ratione, 
            quidem magnam similique voluptate nulla voluptates dolorum aliquid, 
            sint modi maiores porro aliquam quam iure nam quae quo repellendus exercitationem!
        </div>
    </div>
    <hr>
    <div class="row">
        <section class="accordion-btn">
            <strong>Q3</strong>
            <p>What vehicles are covered?</p>
            <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
                <g id="add"><path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/></g>
            </svg>
        </section>
        <div class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae eligendi animi at, est ratione, 
            quidem magnam similique voluptate nulla voluptates dolorum aliquid, 
            sint modi maiores porro aliquam quam iure nam quae quo repellendus exercitationem!
        </div>
    </div>
    <hr>
    <div class="row">
        <section class="accordion-btn">
            <strong>Q4</strong>
            <p>What vehicles are covered?</p>
            <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
                <g id="add"><path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/></g>
            </svg>
        </section>
        <div class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae eligendi animi at, est ratione, 
            quidem magnam similique voluptate nulla voluptates dolorum aliquid, 
            sint modi maiores porro aliquam quam iure nam quae quo repellendus exercitationem!
        </div>
    </div>
    <hr>
    <div class="row">
        <section class="accordion-btn">
            <strong>Q5</strong>
            <p>What vehicles are covered?</p>
            <svg class="svg-rotate__icon" width="40px" height="40px" viewBox="0 0 357 357">
                <g id="add"><path d="M357,204H204v153h-51V204H0v-51h153V0h51v153h153V204z"/></g>
            </svg>
        </section>
        <div class="answer">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum molestiae eligendi animi at, est ratione, 
            quidem magnam similique voluptate nulla voluptates dolorum aliquid, 
            sint modi maiores porro aliquam quam iure nam quae quo repellendus exercitationem!
        </div>
    </div> 
    <hr>   
</div>