<div class="container">
    <h1>HAVE A QUESTION? WE CAN HELP</h1>
    <hr>
    <section *ngFor="let panel of panels; let i = index" (click)="toggle(i)" [ngClass]="{'active' : activeIndex === i}">
        <div class="accordion-btn">
            <div class="question-number"> <strong>Q{{i+1}}</strong> </div>
            <p> {{panel.question}}</p>
            <div class="svg-rotate__icon">
                <div class="add"></div>
            </div>
        </div>
        <div class="answer">
            <div class="answer-content">
            {{panel.answer}}</div>
        </div>
    </section>
</div>