@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@font-face {
    font-family: oswald;
    src: url(../../assets/fonts/oswald-bold.ttf);
}
@font-face {
    font-family: light-oswald;
    src: url(../../assets/fonts/oswald-light.ttf);
}
@font-face {
    font-family: regular-oswald;
    src: url(../../assets/fonts/oswald-regular.ttf);
}

@mixin
 theme($theme: #FED303) {
  background-color: $theme;
}

%paddingten {
  padding: 15px;
}

h1{
    font-size: 2.3rem;
    font-family: oswald;
}

strong{
    font-size: 1.7rem;
    font-family: oswald;
}

.svg-rotate__icon{
  @include theme;
    width: 45px;
    height: 45px;
    padding: 8px;
}

.add {
		transform: rotate(45deg);
		transform-origin: 50% 50%;
}

section {
    border-bottom: 3px solid;
	 .accordion-btn {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-between;
		align-items: center;
		@extend %paddingten;
	}
}

.active 
{
    .accordion-btn{
    background-color:#aaa;
}
.answer{
    display: block;
}}

.answer {
    display: none;
    font-family: regular-oswald;
    @extend %paddingten;
}

 

.container {
	width: 800px;
	margin: 90px auto;
	color: black;
	background-color: white;
	padding: 45px 45px;
	.row {
		position: relative;
		margin: 10px 0;
	}
}

p{
    margin-right: 370px;
    font-size: 1em;
    font-family: light-oswald;
    font-weight: 600;
}

hr {
	border-top: 3px solid rgb(0, 0, 0);
	&:first-of-type {
		border-top: 20px solid rgb(0, 0, 0);
		margin: 17px 0 15px 0;
	}
}