
@font-face {
    font-family: 'oswald-bold';
    src: url('../../assets/fonts/oswald-bold.ttf') format("truetype");
}
@font-face {
    font-family: 'light-oswald';
    src: url('../../assets/fonts/oswald-light.ttf') format("truetype");
}
@font-face {
    font-family: 'regular-oswald';
    src: url('../../assets/fonts/oswald-regular.ttf') format("truetype");
}

@mixin
 theme($theme: #FED303) {
  background-color: $theme;
}
@mixin transition($property, $speed, $ease) {
    -webkit-transition: $property $speed $ease;
    -moz-transition: $property $speed  $ease;
    -o-transition: $property $speed  $ease;
    transition: $property $speed  $ease;
  }
%paddingten {
  padding: 15px;
}
%vertical-center{
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
}



p{
    font-size: 0.8em;
    font-family: 'light-oswald';
    font-weight: 600;
}


section {
       border-bottom: 3px solid;
	 .accordion-btn {
		height: 45px;
		@extend %paddingten;
        @include transition(background-color, 0.75s, ease-out);
        position: relative;
        p{
           @extend %vertical-center;
            margin: 0;
            left: 100px;
        }
        .question-number{
            font-size: 1.4rem;
            font-family: 'oswald-bold';
            @extend %vertical-center;
        }
        .svg-rotate__icon{
             @include theme;
             width: 30px;
             height: 30px;
             padding: 8px;
             @extend %vertical-center;
             right: 10px;
    }
	} 
    
    .add{
        background-image: url('../../assets/img/plus-icon.svg');
        height: 30px;
        @include transition(transform, 0.75s, ease);
        background-size: 25px 25px;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    .answer {
        font-family: 'regular-oswald';
        max-height: 0;
        @include transition(max-height, 0.75s, ease-out);
        overflow: hidden;
        font-size: 0.8em;
        &-content{  
        @extend %paddingten;
        }
    }
}

.active {  
    .accordion-btn{
    background-color:#aaa;
    @include transition(background-color, 0.75s, ease-in);}
   .answer{
    max-height: 500px;
    @include transition(max-height, 0.75s, ease-in);}
   .add {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
      @include transition(transform, 0.75s, ease);}
    }

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
    section .accordion-btn p {
        max-width: 60%;
        font-size: 0.2em;
        left: 60px;
    }
    .accordion-btn{
        font-size: 3.3rem; 
    }
    .svg-rotate__icon{
        width: 30px;
        height: 30px;
        padding: 5px;
        .add{
            height: 25px;
            background-size: 20px 20px;
        }
    }
    p{
        font-size: 1.7rem; 
    }
    .question-number {
        font-size: 0.3em;
    }
         
}
$breakpoint-small-mobile: 375px;
@media (max-width: $breakpoint-small-mobile) {
    .answer {
        font-size: 0.7em;
        padding:  0px;
    }
    .svg-rotate__icon{
        width: 30px;
        height: 30px;
        padding: 5;
    }
    p{
        font-size: 1rem; 
        margin-right: 0;
    }
}